* {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

a:link {
  color: darkslategray;
}

a:visited {
  color: darkslategray;
}

a:hover {
  color: darkslategray;
  font-size: 1.1rem;
}

a:active {
  color: darkslategray;
}
