* {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: normal;
}
.link:hover {
  font-weight: 700;
}

a:link {
  color: darkslategray;
}

a:visited {
  color: darkslategray;
}

a:hover {
  color: darkslategray;
  font-weight: 700;
}

a:active {
  color: darkslategray;
}
