body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

h1,
h2,
h3,
h4 {
  color: rgba(33, 33, 33, 0.9);
}
p {
  color: rgba(33, 33, 33, 0.75);
}

// city view page extra style
.city-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-image: url('./assets/sanfrancisco.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  // background-color:rgb(214, 212, 212);
  background-color: #f8f8f8;
  background-blend-mode: lighten;
  .header-city {
    display: flex;
    flex-direction: row;
    align-items: center;
    .heart-icon {
      width: 30px;
      height: 27px;
    }
  }
  .desctiption-container {
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
    width: 80%;
    #box-container {
      // border: 1px black solid;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 1% 0;

      .statistics {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      .card-stats {
        border: 1% #e0e0e0 solid;
        border-radius: 5%;
        background-color: white;
        box-shadow: 0px 3px 3px 0px rgba(211, 211, 211, 0.9);
        margin: 2% 3%;
        width: 250px;
        height: 210px;
        padding: 2%;
        img {
          width: 40%;
          height: 40%;
          margin: 5px auto;
        }
        h3 {
          color: #767676;
          // text-decoration: underline;
        }
      }
    }
    #graph-container {
      width: 100%;
      border: 1% #e0e0e0 solid;
      border-radius: 2%;
      background-color: white;
      box-shadow: 0px 3px 3px 0px rgba(211, 211, 211, 0.9);
      padding-bottom: 3%;
      margin: 2% 0;
    }
  }
}

.tabbar {
  padding-bottom: 5.3%;
  .container-menu-city {
    width: 100%;
    position: fixed;
    background-color: #2196f3;
    // margin-bottom: 20px;
    // top: 80;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    .menu-city {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
//classes to rotate the arrow
// .animation{
//   transition: ease-in .2s;
//   width: 15px;
//   height: 10px;

//   a:hover {
//     cursor: pointer;
//   }
// }
// .animation2{
//    transition: ease-in .2s;
//     transform: rotate(180deg);
//     width: 15px;
//     height: 10px;
//     a:hover {
//       cursor: pointer;
//     };
// }

@media (max-width: 766px) {
  #my-divider {
    display: none;
  } /* hide it elsewhere */
}
#register {
  color: black;
}
.cardBox {
  display: flex;
  flex-direction: row;
  margin: 1% 0;
  width: "100%";
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-header {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  align-items: baseline;
    .livability-score {
      width: 50px;
      height: 60px;
      color: black;
      font-weight: bold;
      padding-right: 5px;
      padding-left: 2px;
      margin: 0 auto;
      line-height: 50px;
      background-image: url("./assets/livabilityIcon.png");
      background-repeat: no-repeat;
      background-size: 36px 54px;
    }
}
